.appBar {
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.toolbar {
  display: flex;
  justify-content: space-between;
}

.logoContainer {
  display: flex;
  align-items: center;
}

.logo {
  height: 80px;
  margin-left: 10px;
  object-fit: contain;
}

.menuButton {
  color: black;
  font-weight: bold;
  text-transform: none;
}

.menuButton:hover {
  color: #FF4500;
}

.navLinks {
  display: flex;
}

.navButton {
  color: black;
  margin: 0 10px;
  font-weight: 500;
  text-transform: none;
}

.navButton:hover {
  color: #FF4500;
}

.navText {
  margin-left: 8px;
}

.drawerContainer {
  width: 250px;
  padding: 30px 20px;
}

.drawerButton {
  color: black;
  margin: 10px 0;
  font-weight: 500;
  text-transform: none;
}

.drawerButton:hover {
  color: #FF4500;
}

.drawerText {
  margin-left: 8px;
}
